@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./my-theme.scss";
html,
body {
  overflow-y: auto;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.skewed {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  z-index: 0;
  transform: skewY(20deg);
  transform-origin: top right;
}

.primary {
  background-color: var(--primary);
}
.accent {
  background-color: var(--accent);
}

.hero {
  display: block;
  box-sizing: border-box;
  height: 50vh;
  width: 100vw;
  background-color: #dc3d4b;
  clip-path: ellipse(50% 100% at 50% 0%);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
}
