<mat-card class="w-full mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Sign In Form</mat-card-title>
    <mat-card-subtitle>at messenger</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="loginForm"
      class="flex flex-col justify-center"
      (submit)="submit(loginForm.value)"
    >
      <mat-form-field>
        <input matInput placeholder="username" formControlName="username" />
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="password" formControlName="password" />
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Sign In
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer class="bg-blue-50">
    <div class="flex justify-center items-center w-full flex-row py-1">
      do not have any account?
      <button mat-button routerLink="/account/register">sign up</button>
    </div>
  </mat-card-footer>
</mat-card>
