mat-toolbar-row {
  display: flex;
  justify-content: space-between;

  .profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: black;
    aspect-ratio: 1 / 1;
    background-color: var(--accent);
  }
}
