<mat-card class="w-full mat-elevation-z8">
  <mat-card-header>
    <mat-card-title>Sign up </mat-card-title>
    <mat-card-subtitle>at messenger</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form
      [formGroup]="regFormGroup"
      (submit)="register(regFormGroup.value)"
      class="flex flex-col justify-center"
    >
      <mat-form-field>
        <input
          matInput
          placeholder="username"
          formControlName="username"
          autocomplete="false"
        />
        <mat-error *ngIf="invalidUserName">username allready exists</mat-error>
        <mat-error *ngIf="regFormGroup.get('username')?.invalid">{{
          getErrorMsg(regFormGroup.get("username"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="email"
          formControlName="email"
          autocomplete="false"
        />
        <mat-error *ngIf="invalidEmail">email allready exists</mat-error>
        <mat-error *ngIf="regFormGroup.get('email')?.invalid">{{
          getErrorMsg(regFormGroup.get("email"))
        }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="birth date"
          [matDatepicker]="picker"
          formControlName="birthDate"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-error *ngIf="regFormGroup.get('birthDate')?.invalid">{{
          getErrorMsg(regFormGroup.get("birthDate"))
        }}</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="password"
          [type]="hidden ? 'password' : 'text'"
          formControlName="password"
          autocomplete="false"
        />
        <mat-error *ngIf="regFormGroup.get('password')?.invalid">{{
          getErrorMsg(regFormGroup.get("password"))
        }}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          placeholder="repeat password"
          [type]="rHidden ? 'password' : 'text'"
          formControlName="repeatedPassword"
          autocomplete="false"
        />
        <mat-error *ngIf="regFormGroup.get('repeatedPassword')?.invalid">{{
          getErrorMsg(regFormGroup.get("repeatedPassword"))
        }}</mat-error>
      </mat-form-field>
      <button
        mat-flat-button
        color="primary"
        [disabled]="regFormGroup.invalid"
        type="submit"
      >
        Sign Up
      </button>
    </form>
  </mat-card-content>
  <mat-card-footer class="bg-blue-50">
    <div class="flex justify-center items-center w-full flex-row py-1">
      allready have an account?
      <button mat-button routerLink="/account/login">sign in</button>
    </div>
  </mat-card-footer>
</mat-card>
